header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-top: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}



#logo{
    width: 20em;
}
nav{
    width: 100%;
   display: table;
   text-align: center;
   font-family: 'Montserrat', sans-serif;

}
nav a{
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
    transition: 0.2s;
    padding-bottom: -5px;
    margin-left: 1em;
    display: inline-block;
    float: none;
    
}

nav a:hover{
    border-bottom: 1px solid black;
}

#menuButton{
    display: none;
}




@media (max-width: 740px){
    .menu{
        position: relative;
        background-color: black;
        width: 40px;
        height: 5px;
        margin-bottom: 0.5em;
        z-index: 999;
    }
    #menuButton{
        display: inline;
        margin-right: 3.7em;
    }
    .menu:first-child{
        position:relative;
        left: -8px;
        transition: 0.5s;
    }

    /*Change nav so it can slide in*/
    #navWrapper{
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.575);

        height: 100vh;

        position: fixed;
        top: 0;
        left: 100%;
        transition: 0.3s;
    }

    #navWrapper a{
        width: 100px;
        margin-top: 2.5em;
        margin-right: 5em;
    }

    #navWrapper:first-child{
        padding-top: 5em;
    }

    

}